@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-size: x-large;
  user-select: none;
}

body {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 95vw;
  user-select: none;
}

div {
  border: 1px gray solid;
}

.calculator {
  width: 35%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.bigScreen {
  height: 90%;
}

.screen,
.bigScreen {
  flex: 2;
  margin: 3% 4%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 40%,
    rgba(0, 0, 0, 0) 100%
  );

  box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.4),
    inset -2px -2px 5px rgba(0, 0, 0, 0.1);
}

#screenText {
  margin-right: 10%;
  margin-left: 5%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  direction: rtl;
  user-select: none;
}

#delete {
  border: transparent;
  margin-right: 10px;
  width: 12%;
  height: 40%;
}

#delete.clicked {
  transform: scale(0.9);
}

#delete:hover {
  cursor: pointer;
}

.keyBoard {
  flex: 8;
  margin: 0% 3% 3% 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: transparent;
}

.keyBoard div {
  user-select: none;
}

.row {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-color: transparent;
}

/*Keys*/
.row > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 10px 2px;
  border-color: gray;
  border-radius: 5px;
  user-select: none;
}

.row > div:hover {
  background-color: rgba(128, 128, 128, 0.123);
  cursor: pointer;
}

/* Cuando la pantalla sea menor a 768px */
@media (max-width: 768px) {
  .calculator {
    width: 65%; /* Hace que el ancho sea mayor en pantallas pequeñas */
    height: 90%; /* Reduce la altura para evitar que se vea demasiado alargado */
  }
}

/* Para pantallas aún más pequeñas (como celulares en vertical) */
@media (max-width: 480px) {
  .calculator {
    width: 90%; /* Se expande casi al ancho completo */
    height: 75%; /* Reduce aún más la altura */
  }
}
